@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Finger Paint";
  src: url("/fonts/FingerPaint-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "FiraSans";
  src: url("/fonts/FiraSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-400: #ffb662;
  --color-primary-500: #ff8800;
  --color-neutral-white: #fffdeb;
  --color-secondary-400: #e4faff;
  --color-secondary-500: #a8efff;
  --color-neutral-dark: #001604;
  --color-green: #00911b;

  /*Typografi */
  --font-display: "Finger Paint", monospace;
  --font-sans: "FiraSans", sans-serif;
  --font-serif: "Domine", serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
